body {
    background-color: #1a1a2e;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: relative; 
    background-image: url('backg.svg');
    background-size: cover;
    background-position: center;
    font-family: 'Teko', sans-serif;
  }
  
  .blog-container {
    width: 60%;
    margin: 0 auto;
    position: relative; 
  }
  
  header h1 {
    text-align: center;
    color: #e6e6e6;
  }
  
  .blog-entry {
    background-color: #16213e;
    margin-bottom: 20px;
    padding: 20px;
    border-left: 5px solid #e94560;
    position: relative;
  }
  
  .blog-entry h2 {
    color: #e94560;
  }
  
  .blog-entry img {
    width: 40%; 
    height: 300px; 
    object-fit: cover; 
    margin-bottom: 15px;
    border: 1px solid #e94560;
}
  
  .blog-entry p {
    color: #e6e6e6;
  }
  
  .blog-entry::after {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #16213e;
  }
  
  header::after {
    content: '';
    display: block;
    margin: 20px auto;
    height: 2px;
    width: 60%;
    background: linear-gradient(to right, transparent, #e6e6e6, transparent);
  }
  